Automação_de_Envio_de_Emails.json
{
  "name": "Automação de Envio de E-mails",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-768, 80],
      "id": "eaff00b4-34cf-4e9b-84f0-c10b5505ee38",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "intervalValue": 1
            }
          ],
          "triggerAtHour": 9,
          "triggerAtMinute": 0
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-768, -80],
      "id": "sched1",
      "name": "Agendado Diariamente"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/node/.n8n-files/contatos.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [-560, 80],
      "id": "73588ce8-96ee-4fb9-a7d8-8a2a270dc021",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "sheetName": "Sheet1"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [-352, 80],
      "id": "df11c52f-5bcd-46b7-a8a8-87efe31cf406",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: todos os itens (cada um com json contendo Nome, Email, Status)\nconst allItems = $input.all();\n\n// Arrays para os dois outputs\nconst todos = [];\nconst candidatos = [];\n\nfor (let i = 0; i < allItems.length; i++) {\n    const item = allItems[i];\n    // Garantir campos\n    item.json.Nome = item.json.Nome || \"\";\n    item.json.Email = item.json.Email || \"\";\n    item.json.Status = item.json.Status || \"\";\n    // Adicionar índice\n    item.json._index = i;\n\n    // Clonar para evitar referência\n    todos.push(item);\n\n    // Verificar se Status está vazio (string vazia, null, undefined)\n    const status = item.json.Status;\n    if (status === \"\" || status == null || status === undefined) {\n        // Candidato a envio\n        candidatos.push(item);\n    }\n}\n\n// Retornar dois outputs\nreturn [\n    todos,      // output 0\n    candidatos  // output 1\n];",
        "numberOutputs": 2
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 80],
      "id": "code-preparar-indexar",
      "name": "Preparar e Indexar"
    },
    {
      "parameters": {
        "maxItems": 200
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [40, 160],
      "id": "limit1",
      "name": "Limitar a 200"
    },
    {
      "parameters": {
        "fromEmail": "supervisoras@didier.com.br",
        "toEmail": "={{ $json.Email }}",
        "subject": "=Sentimos sua falta, {{ $json.Nome }}! Vamos voltar a faturar juntos? TESTE DE FERRAMENTA DE DISPARO DE E-mail",
        "emailFormat": "text",
        "text": "=Olá, {{ $json.Nome }}, tudo bem?\n\nPassando para dizer que sentimos a sua falta por aqui! A nossa parceria sempre foi muito importante para nós, e queremos te ver brilhando e lucrando novamente.\n\nTemos muitas novidades, lançamentos incríveis e condições especiais preparadas exclusivamente para ajudar você a impulsionar suas vendas nesta temporada.\n\nQue tal reativar o seu cadastro hoje mesmo? É super rápido!\n\nPara conhecer as novidades e garantir suas vantagens, clique no link abaixo e fale direto com a nossa equipe pelo WhatsApp:\n https://wa.me/551143322311\n\nEstamos te esperando de braços abertos!\n\nAbraços,",
        "options": {
          "onError": "continueErrorOutput"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [240, 160],
      "id": "243964a9-3b9c-4597-a7a1-5780c39ffe5d",
      "name": "Send an Email",
      "webhookId": "a30eafa1-4693-461d-821c-ebf7fabf0de7",
      "credentials": {
        "smtp": {
          "id": "WXHetXL3hNWApJKc",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst dataHora = now.toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nfor (const item of items) {\n    // Verifica se houve erro (propriedade 'error' pode estar presente)\n    const erro = item.json.error;\n    if (erro) {\n        item.json.Status = `Erro: ${erro.message || erro}`;\n    } else {\n        item.json.Status = `Enviado em ${dataHora}`;\n    }\n}\nreturn items;",
        "numberOutputs": 1
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 160],
      "id": "code-atualizar-status",
      "name": "Atualizar Status"
    },
    {
      "parameters": {
        "jsCode": "// Este nó tem 2 inputs:\n//   - Input 0: todos os originais (com _index)\n//   - Input 1: itens processados (com _index e Status atualizado)\n\nconst inputs = $input.all();\nconst originais = inputs[0];  // array de itens do input 0\nconst processados = inputs[1]; // array de itens do input 1\n\n// Criar mapa dos processados por _index\nconst mapa = new Map();\nfor (const p of processados) {\n    mapa.set(p.json._index, p.json.Status);\n}\n\n// Atualizar os originais\nconst resultado = [];\nfor (const item of originais) {\n    const idx = item.json._index;\n    if (mapa.has(idx)) {\n        item.json.Status = mapa.get(idx);\n    }\n    // Remover _index\n    delete item.json._index;\n    // Garantir campos (já garantidos)\n    resultado.push(item);\n}\n\nreturn resultado;",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 160],
      "id": "code-mesclar",
      "name": "Mesclar e Remover _index"
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "headerRow": true,
          "sheetName": "Sheet1"
        }
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [1080, 160],
      "id": "sheet1",
      "name": "Converter para XLSX"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/contatos.xlsx",
        "dataPropertyName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [1280, 160],
      "id": "write1",
      "name": "Salvar Arquivo Atualizado"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendado Diariamente": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Preparar e Indexar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar e Indexar": {
      "main": [
        [
          {
            "node": "Mesclar e Remover _index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limitar a 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limitar a 200": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Atualizar Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status": {
      "main": [
        [
          {
            "node": "Mesclar e Remover _index",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mesclar e Remover _index": {
      "main": [
        [
          {
            "node": "Converter para XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter para XLSX": {
      "main": [
        [
          {
            "node": "Salvar Arquivo Atualizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2c9aa5b2-6822-4aa7-9c47-5eaa45894c6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7526f85b8a337e88c5fef3cd415ba3ce4d0a2f20a5fb980c44d86c16b94d1a91"
  },
  "nodeGroups": [],
  "id": "dvlGzjoKrbVaRulz",
  "tags": []
}