Automação_de_Envio_de_Emails.json
{
  "name": "Automação de Envio de E-mails (CORRIGIDO)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-768, 80],
      "id": "manual-trigger-1",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "intervalValue": 1
            }
          ],
          "triggerAtHour": 9,
          "triggerAtMinute": 0
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-768, -80],
      "id": "schedule-trigger-1",
      "name": "Agendado Diariamente"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/node/.n8n-files/contatos.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [-560, 80],
      "id": "read-file-1",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [-352, 80],
      "id": "extract-1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Garante que todos os itens tenham Nome, Email e Status\nfor (const item of $input.all()) {\n  if (!item.json.Nome) item.json.Nome = '';\n  if (!item.json.Email) item.json.Email = '';\n  // Se Status não existir ou for null/undefined, cria como string vazia\n  if (item.json.Status === undefined || item.json.Status === null || item.json.Status === 'null' || item.json.Status === 'undefined') {\n    item.json.Status = '';\n  }\n}\nreturn $input.all();",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 80],
      "id": "code-garantir-status",
      "name": "Garantir Campos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "name": "filter.operator.isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [40, 80],
      "id": "if-status-vazio",
      "name": "If Status Vazio"
    },
    {
      "parameters": {
        "jsCode": "// Adiciona índice para controle de limite\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  items[i].json._idx = i;\n}\nreturn items;",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 80],
      "id": "code-index",
      "name": "Adicionar Índice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-2",
              "leftValue": "={{ $json._idx }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "smaller",
                "name": "filter.operator.smaller"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 80],
      "id": "if-limite",
      "name": "Dentro do Limite (200)"
    },
    {
      "parameters": {
        "fromEmail": "supervisoras@didier.com.br",
        "toEmail": "={{ $json.Email }}",
        "subject": "=Sentimos sua falta, {{ $json.Nome }}!",
        "emailFormat": "text",
        "text": "=Olá, {{ $json.Nome }}, tudo bem?\n\nPassando para dizer que sentimos a sua falta por aqui!\n\nFale direto com a nossa equipe pelo WhatsApp:\n👉 https://wa.me/551143322311\n\nAbraços,",
        "options": {
          "onError": "continueErrorOutput"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [640, 0],
      "id": "send-email-1",
      "name": "Send an Email",
      "credentials": {
        "smtp": {
          "id": "WXHetXL3hNWApJKc",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Atualiza Status com data/hora ou erro\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('pt-BR');\nconst timeStr = now.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });\n\nfor (const item of $input.all()) {\n  if (item.error) {\n    item.json.Status = 'Erro: ' + (item.error.message || 'Falha no envio');\n  } else {\n    item.json.Status = 'Enviado em ' + dateStr + ' às ' + timeStr;\n  }\n}\nreturn $input.all();",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 0],
      "id": "code-atualizar-status",
      "name": "Atualizar Status"
    },
    {
      "parameters": {
        "jsCode": "// Remove índice temporário dos enviados\nfor (const item of $input.all()) {\n  delete item.json._idx;\n}\nreturn $input.all();",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 0],
      "id": "code-limpar-a",
      "name": "Limpar Índice (Enviados)"
    },
    {
      "parameters": {
        "jsCode": "// Remove índice temporário dos não enviados\nfor (const item of $input.all()) {\n  delete item.json._idx;\n}\nreturn $input.all();",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 160],
      "id": "code-limpar-b",
      "name": "Limpar Índice (Não enviados)"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1240, 160],
      "id": "merge-1",
      "name": "Unir Dados"
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "headerRow": true,
          "sheetName": "Sheet1"
        }
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [1440, 160],
      "id": "convert-xlsx-1",
      "name": "Converter para XLSX"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/contatos.xlsx",
        "dataPropertyName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [1640, 160],
      "id": "write-file-1",
      "name": "Salvar Arquivo Atualizado"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendado Diariamente": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Garantir Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Garantir Campos": {
      "main": [
        [
          {
            "node": "If Status Vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Status Vazio": {
      "main": [
        [
          {
            "node": "Adicionar Índice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unir Dados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Adicionar Índice": {
      "main": [
        [
          {
            "node": "Dentro do Limite (200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dentro do Limite (200)": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar Índice (Não enviados)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Atualizar Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status": {
      "main": [
        [
          {
            "node": "Limpar Índice (Enviados)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Índice (Enviados)": {
      "main": [
        [
          {
            "node": "Unir Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Índice (Não enviados)": {
      "main": [
        [
          {
            "node": "Unir Dados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unir Dados": {
      "main": [
        [
          {
            "node": "Converter para XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter para XLSX": {
      "main": [
        [
          {
            "node": "Salvar Arquivo Atualizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "workflow-corrigido-1",
  "tags": []
}